In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [21]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [22]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [23]:
session

In [ ]:
# ???????do I need to add an ignore of warnings for decimal places?????????????

# Exploratory Climate Analysis

In [37]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results


# *display original data (limit 10)
#session.query(Measurement.prcp).limit(10).all()

# Calculate the date 1 year ago from the last data point in the database
# *this gives me the last date within the data
#session.query(func.max(Measurement.date)).all()

# Perform a query to retrieve the data and precipitation scores
precipitation = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date.between("2016-08-23", "2017-08-23"))

# Save the query results as a Pandas DataFrame and set the index to the date column
precipitation_df = pd.DataFrame(precipitation)
precipitation_df.set_index('date')
precipitation_df

# Sort the dataframe by date
# ***note already sorting by date based on setting the index to the date column
precipitation_df.sort_index

#Use Pandas Plotting with Matplotlib to plot the data
plt.bar(x_axis, date, color="b", align="center")

NameError: name 'x_axis' is not defined

In [15]:
precipitation = session.query(Measurement.date).filter(Measurement.date.between("2016-08-23", "2017-08-23"))

In [25]:
precipitation

In [26]:
df_test = pd.DataFrame(precipitation)

In [27]:
df_test

            date
0     2016-08-23
1     2016-08-24
2     2016-08-25
3     2016-08-26
4     2016-08-27
...          ...
2225  2017-08-19
2226  2017-08-20
2227  2017-08-21
2228  2017-08-22
2229  2017-08-23

[2230 rows x 1 columns]

In [24]:
df_temp = pd.read_sql(precipitation, session.bind)

ObjectNotExecutableError: Not an executable object: <sqlalchemy.orm.query.Query object at 0x000002EB5D205198>

In [18]:
precipitation

In [ ]:
# web
#https://docs.sqlalchemy.org/en/13/core/functions.html?highlight=func

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df.describe

In [ ]:
# Design a query to show how many stations are available in this dataset?
session.query  ...count stations

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
session.query(count on groupby)
count station ID
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
min max ave temp

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
query on temp observed date >  date   station=most active

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.
func

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

join two tables station nad measurment filter on start and end date  where this = this station id  between dates
my start and end dates
get my list of dates

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
--just pass the month and date
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates
date range function() pd.date_range()
# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`